body {
    font-family: Arial;
    text-align: center;
    position: relative;
}

button {
    background-color: #254117;
    outline: none;
    color:darkgreen;
}


.btn {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #254117;
}


#calculator{
    position: relative;
    height:300px;
    width: 90%; 
    color: #254117;
    box-sizing: border-box;
    
}

#tet{
    position:relative;
}

img{
    position: relative;
    top: 1px;
    right: 5px;  

}

#link{
    font-family: Arial;
    box-sizing: border-box;
    text-align: center;
}
input {
    position: relative;
    width: 70%;
    padding: 5px 14px;
    border: 1px solid #201f1d;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,.4);
    outline: none;
    color: #fff;
    font-size: 13px;
}



form {
    position: relative;
    top: 1px;
    background-color: #fff;
    padding: 10px;
    color: #000;
    height:900px;
    width:100%;
    box-shadow: 0 2px 4px 0 rgba(0,100,0,.4);
}



.panel {
    position: relative;
    margin-top: 20px;
    float: none;
    color: #254117;

}
.link { 
    font-size: 14px; 
    text-decoration: none; 
    color: #254117;
}

@media (min-width: 1000px) {
    .panel {
        position: relative;
        width: 150%;
        margin-left: auto;
        margin-right: auto;
    }
}
table {
    position: relative;
    width: 60%;

}



th{
    position: relative;
    text-align:left;
    display:flex;
    padding:5px;

   

}


table,th,td {
    position: relative;
    border: 1px solid #000;
    border-collapse:collapse;
}

th,td{
    position: relative;
    padding:5px;

}
  
 